    <footer class="page-footer light-blue white-text">
        <div class="container">
            <div class="row">
                <div class="col l12 m12 s12">
                    Put something here?
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col l6 m6 s6">
                        Theme by <a class="white-text darken-4" href="http://materializecss.com">Materialize</a>
                    </div>
                    
                    <div class="col l6 m6 s6">
                        <span class="right">A <a class="white-text darken-4" href="http://www.uqcs.org.au">UQCS</a> site</span>
                    </div>    
                </div>
            </div>
        </div>
    </footer>

    <!-- Angular -->
    <!-- IE required polyfills, in this exact order -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
    <script src="https://unpkg.com/angular2@2.0.0-beta.11/es6/dev/src/testing/shims_for_IE.js"></script>

    <script src="https://code.angularjs.org/2.0.0-beta.11/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://unpkg.com/typescript@1.8.9/lib/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.11/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.11/angular2.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.11/router.dev.js"></script>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="lib/materialize/js/materialize.js"></script>
    <script src="js/initMaterialize.js"></script>
    <script src="js/initAngular.js"></script>

    <!-- Tracking -->
    <script>
        // TODO: Setup Google Analytics    
    </script>
</body>
</html>