<%- include shared/head.ejs %>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m12 l12">
                <h5>
                    Oh No! You found the magic number <%= code %>!
                </h5>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12 l12">
                <p>An error occurred! Please check the URL and try again.</p>
            </div>
            <div class="col s12 m12 l12">
                <p>Additional error details: <%= message %></p>
            </div>
        </div>
    </div>
</div>

<%- include shared/foot.ejs %>